<!DOCTYPE html>
<html ng-app="Personregister">
<head>
    <title>Personregister</title>
</head>
<body>
    <form name="mainForm" data-ng-submit="sendForm()" data-ng-controller="LandingPageController" novalidate>
        <input ng-model="models.NIN" type="text" />
        <button type="submit" >Submit</button>
        <div>
            {{model.result}}
        </div>
    </form>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
    @Scripts.Render("~/bundles/Personregister")
    
</body>
</html>
